---
import Icon from "@/components/Icon.astro";
import { Badge } from "@/components/ui/badge";
import { Tabs, TabItem } from "@astrojs/starlight/components";
import BaseHtml from "@/layouts/BaseHtml.astro";
import AboutDesktop from "@/components/AboutDesktop.astro";

//Mobile+Desktop
const className = {
  mobile: {
    bgRed: "text-black bg-red-400 dark:bg-red-300",
    bgYellow: "text-black bg-yellow-400 dark:bg-yellow-300",
    bgBlue: "text-black bg-blue-400 dark:bg-blue-300",
    invisible: "invisible",
    gridClass: "grid gap-2",
    firstColText: "text-xs text-center self-stretch writing-vertical text-black",
    ulInterest: "pt-3 self-center",
    subGridP: "text-sm",
    gridStyle: "grid-template: repeat(3, auto)/ min-content auto",
  },
  desktop: {
    bgRed: "text-black bg-red-400 dark:bg-red-300",
    bgYellow: "text-black bg-yellow-400 dark:bg-yellow-300",
    bgBlue: "text-black bg-blue-400 dark:bg-blue-300",
    gridClass: "hidden sm:grid gap-2",
    firstRowText: "text-center font-bold text-lg text-black",
    firstRowTextAlt: "text-center font-bold text-lg text-black",
    firstColText: "font-bold text-lg text-right self-center",
    subGrid: "",
    subFlex: "flex flex-wrap justify-start gap-2",
    subGridP: "text-sm",
    ulInterest: "pt-3 self-center",
    gridStyle: "grid-template: repeat(4, auto)/ min-content 2fr 2fr 3fr; max-width: 966px",
  },
};
const mob = className.mobile;
const desk = className.desktop;
---

<BaseHtml
  title="About Me"
  description="A piece of me"
  className={{ "max-w-3xl": false, "min-w-fit": true }}
>
  <div class="sm:hidden">
    <!-- 3x2 -->
    <Tabs>
      <TabItem label="Human">
        <div class={mob.gridClass} style={mob.gridStyle}>
          <!-- 2-1 -->
          <div class:list={[mob.firstColText, mob.bgRed]}>Core</div>
          <!-- 2-2 -->
          <div>
            <p class={mob.subGridP}>Worldview</p>
            <Badge className={mob.bgRed}>Minimalism</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgBlue}>Mohism</Badge>
            <Badge className={mob.bgBlue}>Taoism</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgYellow}>Eclecticism</Badge>
            <Badge className={mob.bgYellow}>Esstentialism</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge>
          </div>
          <!-- 3-1 -->
          <div class:list={[mob.firstColText, mob.bgBlue]}>Support</div>
          <!-- 3-2 -->
          <div>
            <p class={mob.subGridP}>Favorite Topics</p>
            <Badge className={mob.bgRed}>Movies</Badge>
            <Badge className={mob.bgRed}>Games</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgBlue}>Anime</Badge>
            <Badge className={mob.bgBlue}>Manga</Badge>
            <Badge className={mob.bgBlue}>Music</Badge><br />
            <Badge className={mob.bgYellow}>Productivity</Badge>
            <Badge className={mob.bgYellow}>Taxonomy</Badge>
            <Badge className={mob.bgYellow}>Worldview</Badge>
          </div>
          <!-- 4-1 -->
          <div class:list={[mob.firstColText, mob.bgYellow]}>Aspire</div>
          <!-- 4-2 -->
          <ul class={mob.ulInterest}>
            <li>Keep building impactful software</li>
            <li>Keep learning and teaching</li>
            <li>Develop a personal knowledge base</li>
          </ul>
        </div>
      </TabItem>
      <TabItem label="User">
        <div class={mob.gridClass} style={mob.gridStyle}>
          <!-- 2-1 -->
          <div class:list={[mob.firstColText, mob.bgRed]}>Core</div>
          <!-- 2-3 -->
          <div>
            <p class={mob.subGridP}>Daily Tools</p>
            <Badge className={mob.bgRed}>LogSeq</Badge>
            <Badge className={mob.bgRed}>LibreOffice</Badge>
            <Badge className={mob.bgRed}>Claude</Badge><br />
            <Badge className={mob.bgBlue}>SurfingKeys</Badge>
            <Badge className={mob.bgBlue}>Firefox</Badge>
            <Badge className={mob.bgBlue}>macOS</Badge><br />
            <Badge className={mob.bgYellow}>Heptabase</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge>
          </div>
          <!-- 3-1 -->
          <div class:list={[mob.firstColText, mob.bgBlue]}>Support</div>
          <!-- 3-3 -->
          <div>
            <p class={mob.subGridP}>News Feed</p>
            <Badge className={mob.bgRed}>Podcast</Badge>
            <Badge className={mob.bgRed}>Brief&nbsp;AI</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgBlue}>Daily.Dev</Badge>
            <Badge className={mob.bgBlue}>YouTube</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgYellow}>Brilliant</Badge>
            <Badge className={mob.bgYellow}>Books</Badge>
            <Badge className={mob.bgYellow}>Speak</Badge>
          </div>
          <!-- 4-1 -->
          <div class:list={[mob.firstColText, mob.bgYellow]}>Aspire</div>
          <!-- 4-3 -->
          <ul class={mob.ulInterest}>
            <li>Streamline note-taking process</li>
            <li>Centralize and back up data sources</li>
            <li>Integrate daily tools with more apps</li>
          </ul>
        </div>
      </TabItem>
      <TabItem label="Developer">
        <div class={mob.gridClass} style={mob.gridStyle}>
          <!-- 2-1 -->
          <div class:list={[mob.firstColText, mob.bgRed]}>Core</div>
          <!-- 2-4 -->
          <div>
            <p class={mob.subGridP}>Skillset</p>
            <Badge className={mob.bgRed}>ASP.NET</Badge>
            <Badge className={mob.bgRed}>Web Dev</Badge>
            <Badge className={mob.bgRed}>SQL</Badge><br />
            <Badge className={mob.bgBlue}>CI/CD</Badge>
            <Badge className={mob.bgBlue}>Testing</Badge>
            <Badge className={mob.bgBlue}>JAMStack</Badge><br />
            <Badge className={mob.bgYellow}>Odoo</Badge>
            <Badge className={mob.bgYellow}>UiPath</Badge>
            <Badge className={mob.bgYellow}>Astro</Badge>
          </div>
          <!-- 3-1 -->
          <div class:list={[mob.firstColText, mob.bgBlue]}>Support</div>
          <!-- 3-4 -->
          <div>
            <p class={mob.subGridP}>Dev Environment</p>
            <Badge className={mob.bgRed}>VS Code</Badge>
            <Badge className={mob.bgRed}>GitHub</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgBlue}>Zsh</Badge>
            <Badge className={mob.bgBlue}>Vim</Badge>
            <Badge className={mob.invisible}>&nbsp;</Badge><br />
            <Badge className={mob.bgYellow}>Cursor</Badge>
            <Badge className={mob.bgYellow}>Rider</Badge>
            <Badge className={mob.bgYellow}>Oh My Zsh</Badge>
          </div>
          <!-- 4-1 -->
          <div class:list={[mob.firstColText, mob.bgYellow]}>Aspire</div>
          <!-- 4-4 -->
          <ul class={mob.ulInterest}>
            <li>Odoo ERP Deployment</li>
            <li>Advanced Search and Filtering Feature</li>
            <li>Generative AI Integration</li>
          </ul>
        </div>
      </TabItem>
    </Tabs>
  </div>
  <AboutDesktop className={desk} />
  <a href="https://github.com/johntao" target="_blank" class="flex justify-center my-12">
    <span class="sr-only">Go to John Tao's GitHub repo</span>
    <Icon name="GitHub" class="size-8" />
  </a>
</BaseHtml>
