---
import BaseHtml from "../layouts/BaseHtml.astro";
import { Badge } from "@/components/ui/badge";
interface Props {
  className: {
    bgRed: string;
    bgYellow: string;
    bgBlue: string;
    textRed: string;
    textYellow: string;
    textBlue: string;
    p: string;
    invisible: string;
    gridClass: string;
    firstRowText: string;
    firstColText: string;
    subGrid: string;
    ul: string;
    gridStyle: string;
  };
}
const { className } = Astro.props;
---
<BaseHtml
  title="About Me"
  description="A piece of me"
  className={{ "max-w-3xl": false, "min-w-fit": true }}
>
  <div
    class={className.gridClass}
    style={className.gridStyle}
  >
    <!-- First row -->
    <div class=""></div>
    <div class:list={[className.firstRowText, className.bgRed]}>
      Core Values
    </div>
    <div class:list={[className.firstRowText, className.bgBlue]}>
      Support Powers
    </div>
    <div class:list={[className.firstRowText, className.bgYellow]}>
      Aspirations
    </div>
    <!-- Human row -->
    <div class={className.firstColText}>
      Human<br />
      <Badge className={className.bgRed}>worldview</Badge><br />
      <Badge className={className.bgBlue}>fav-topic</Badge>
    </div>
    <div class={className.subGrid}>
      <Badge className={className.bgRed}>Minimalism</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.invisible} />
      <Badge className={className.bgBlue}>Mohism</Badge>
      <Badge className={className.bgBlue}>Taoism</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.bgYellow}>Eclecticism</Badge>
      <Badge className={className.bgYellow}>Esstentialism</Badge>
      <Badge className={className.invisible} />
    </div>
    <div class={className.subGrid}>
      <Badge className={className.bgRed}>Movies</Badge>
      <Badge className={className.bgRed}>Games</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.bgBlue}>Anime</Badge>
      <Badge className={className.bgBlue}>Manga</Badge>
      <Badge className={className.bgBlue}>Music</Badge>
      <Badge className={className.bgYellow}>Productivity</Badge>
      <Badge className={className.bgYellow}>Taxonomy</Badge>
      <Badge className={className.bgYellow}>Worldview</Badge>
    </div>
    <ul class={className.ul}>
      <li>Keep building impactful software</li>
      <li>Keep learning and teaching</li>
      <li>Develop a personal knowledge base</li>
    </ul>
    <!-- User row -->
    <div class={className.firstColText}>
      User<br />
      <Badge className={className.bgRed}>daily-tool</Badge><br />
      <Badge className={className.bgBlue}>news-feed</Badge>
    </div>
    <div class={className.subGrid}>
      <Badge className={className.bgRed}>LogSeq</Badge>
      <Badge className={className.bgRed}>LibreOffice</Badge>
      <Badge className={className.bgRed}>Claude</Badge>
      <Badge className={className.bgBlue}>SurfingKeys</Badge>
      <Badge className={className.bgBlue}>Firefox</Badge>
      <Badge className={className.bgBlue}>macOS</Badge>
      <Badge className={className.bgYellow}>Heptabase</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.invisible} />
    </div>
    <div class={className.subGrid}>
      <Badge className={className.bgRed}>Podcast</Badge>
      <Badge className={className.bgRed}>Brief AI</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.bgBlue}>Daily.Dev</Badge>
      <Badge className={className.bgBlue}>YouTube</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.bgYellow}>Brilliant</Badge>
      <Badge className={className.bgYellow}>Books</Badge>
      <Badge className={className.bgYellow}>Speak</Badge>
    </div>
    <ul class={className.ul}>
      <li>Streamline note-taking process</li>
      <li>Centralize and back up data sources</li>
      <li>Integrate daily tools with more apps</li>
    </ul>
    <!-- Developer row -->
    <div class={className.firstColText}>
      Developer<br />
      <Badge className={className.bgRed}>skillset</Badge><br />
      <Badge className={className.bgBlue}>dev-env</Badge>
    </div>
    <div class={className.subGrid}>
      <Badge className={className.bgRed}>ASP.NET</Badge>
      <Badge className={className.bgRed}>Web Dev</Badge>
      <Badge className={className.bgRed}>SQL</Badge>
      <Badge className={className.bgBlue}>CI/CD</Badge>
      <Badge className={className.bgBlue}>Testing</Badge>
      <Badge className={className.bgBlue}>JAMStack</Badge>
      <Badge className={className.bgYellow}>Odoo</Badge>
      <Badge className={className.bgYellow}>UiPath</Badge>
      <Badge className={className.bgYellow}>Astro</Badge>
    </div>
    <div class={className.subGrid}>
      <Badge className={className.bgRed}>VS Code</Badge>
      <Badge className={className.bgRed}>GitHub</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.bgBlue}>Zsh</Badge>
      <Badge className={className.bgBlue}>Vim</Badge>
      <Badge className={className.invisible} />
      <Badge className={className.bgYellow}>Cursor</Badge>
      <Badge className={className.bgYellow}>Rider</Badge>
      <Badge className={className.bgYellow}>Oh My Zsh</Badge>
    </div>
    <ul class={className.ul}>
      <li>Odoo ERP Deployment</li>
      <li>UX Improvements for Search and Filtering</li>
      <li>Generative AI Integration</li>
    </ul>
  </div>
</BaseHtml>
