---
import FormattedDate from "@/components/FormattedDate.astro";
import { type BlogEntry } from "@/utils/data.util";
import Separator from "./Separator.astro";

interface Props {
  posts: BlogEntry[];
  folder: string;
}
const { posts, folder } = Astro.props;
---

<ul>
  {
    posts.map((post) => {
      // const { remarkPluginFrontmatter } = await post.render();
      const { data, slug } = post;
      // console.log(data.pubDate, data.yearSep);
      return (
        <>
          <li class="flex">
            <FormattedDate className="mr-3" date={data.pubDate} />
            <a href={`/${folder}/${slug}`}>{data.title}</a>
          </li>
          {data.yearSep && <Separator text={data.yearSep} />}
        </>
      );
    })
  }
</ul>
