---
import FormattedDate from "@/components/FormattedDate.astro";
import { type AnyEntry, isBlogEntry } from "@/lib/data";
import Separator from "./Separator.astro";

interface Props {
  posts: AnyEntry[];
}
const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => {
      // const { remarkPluginFrontmatter } = await post.render();
      const { data } = post;
      let path = isBlogEntry(post) ? `${post.collection}/${post.slug}` : post.id;
      return (
        <>
          <li class="flex">
            {data.pubDate && <FormattedDate className="mr-3" date={data.pubDate} />}
            <a href={path}>{data.title}</a>
          </li>
          {data.yearSep && <Separator text={data.yearSep} />}
        </>
      );
    })
  }
</ul>
