---
interface Props {
	tags: string[];
	withHref?: boolean;
}

const { tags, withHref } = Astro.props;
const className = "mx-1.5 px-2.5 py-1";
---

{
	tags.map((tag: string) =>
		withHref
		? <a class={className} href={`/tag/${tag}`}>#{tag}</a>
		: <span class={className}>#{tag}</span>,
	)
}
