---
interface Props {
	tags: string[];
	withHref?: boolean;
}

const { tags, withHref } = Astro.props;
const className = "mx-2 py-1";
---

{
	tags.map((tag: string) =>
		withHref
		? <a class={className} href={`/tags/${tag}`}>#{tag}</a>
		: <span class={className}>#{tag}</span>,
	)
}
